@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

:root{
    /* color palate */
    --primary: #41ff4b;
    --secondary: #33f02d;
    --secondaryHover: #209e1c;
    --text:#5a5580;
    --negative: #ffffff;
    --lightGradient: #f5f4ff;
    --darkGradient: #04b16f;
    
    /* typesize */

    --xl: 77px;
    --lg: 48px;
    --md: 29px;
    --sm: 17px;
    
    /* typeweight */

    --black: 900;
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --thin: 100;

    /* mari and padding */

    --spaceXL:96px;
    --spaceLG: 72px;
    --spaceMD: 48px;
    --spaceSM: 24px;
    --spaceXS: 12px;
    
    /* border radious */

    --roundLG:80px;
    --roundMD:60px;
    --roundSM:40px;

    /* box shadow */

    --shadow: 0 0 20px 5px  rgba(0,0,0,0.06);
    --shadowHower:  0 0 20px 10px  rgba(0,0,0,0.1);
}

.wrapper {
width:1152px;
height:1284px;
display: grid;
grid: repeat(26 , 1fr) / repeat(24 , 1fr);
margin: var(--spaceMD) auto;
}

.balance{
    grid-area: 1 / 1 / span 9 / span 13 ;
    background: linear-gradient(90deg,var(--primary),var(--darkGradient));
    padding: var(--spaceXL);
    border-radius: var(--roundLG);
}

.balance h1, .balance h2{
    color: var(--negative);
}

.balance header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: var(--spaceLG);
}

.date h1{
    font-size: var(--lg);
    font-weight: var(--light);
}

.date h2{
    font-size: var(--md);
    font-weight: var(--thin);
}
.percentage h1{
    font-size: var(--lg);
    justify-content: center;
    align-items: center;
}
.percentage h1 svg{
    margin-left:var(--spaceXS); 
    transform: scale(1.5);   
    transform-origin: center center;
}
.percentage h1 svg path{
    fill: var(--negative);
}

.balance footer h1{
    font-weight: var(--black);
}
.balance footer h1 span:first-child {
    font-size: var(--lg);
}
.balance footer h1 span:last-child {
    font-size: var(--xl);
}
.summary{
    grid-area: 11 / 1 / span 16 / span 13 ;
    background: linear-gradient(180deg,var(--negative),var(--lightGradient));
    padding: var(--spaceXL);
    border-radius: var(--roundLG); 
    box-shadow: var(--shadow);
}

.summary h1{
    color:var(--text);
    font-weight: var(--light);
}

.summary header h1{
    font-size: var(--lg);
}

.account-number, .transactions-limit{
    border-color: var(--negative);
    border-radius: var(--roundSM);
    box-shadow: var(--shadow);
    padding: var(--spaceLG);
    margin-top: var(--spaceMD);
}

.account-number h1, .transactions-limit h1{
    font-size: var|(--md);
}

.account-number h1:last-child, .transactions-limit h1:last-child{
    font-weight: var(--bold);
}



.payment-due
{
    grid-area: 1 / 15 / span 5 / span 10 ;
    background: linear-gradient(180deg,var(--negative),var(--lightGradient));
    padding: var(--spaceLG);
    border-radius: var(--roundMD); 
    box-shadow: var(--shadow);
}

.payment-due h1{
    color: var(--secondary);
    font-size: var(--md);
}

.payment-due h1:first-child{
    font-weight: var(--light);
    margin-bottom: va(--spaceXS);

}


.activities{
    grid-area:  7 / 15 / span 18 / span 10 ;
    background: linear-gradient(180deg,var(--negative),var(--lightGradient));
    border-radius: var(--roundLG); 
    box-shadow: var(--shadow);
}
.activities h1{
    color: var(--text);
    font-weight: var(--light);
    font-size: var(--lg);
    padding: var(--spaceXL) var(--spaceXL) var(--spaceSM) var(--spaceXL);
    
}
.activities main ul{
    list-style: none;
}

.activities main ul li{
    padding: var(--spaceSM) var(--spaceXL);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activities main ul li span:first-child{
 font-size: var(--sm);
 font-weight: var(--bold);
}
.activities main ul li span:last-child{
    font-size: var(--md);
    font-weight: var(--light);
   }
.activities footer
{
    padding: var(--spaceXS) var(--spaceXL) var(--spaceXL) var(--spaceXL);
}

.activities button{
    width: 100%;
    border: none;
    outline: none;
    padding: var(--roundSM);
    border-radius: var(--roundSM);
    font-size: var(--md);
    background-color: var(--secondary);
    color: var(--negative);
}

.wrapper * {
transition: all 0.2s ease-out;
}

.balance:hover{
    background: linear-gradient(270deg,var(--primary),var(--darkGradient));
    transform: scale(1.01);
}

.payment-due:hover,
.activities:hover,
.summary:hover,
.account-number:hover,
.transaction-limit:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: var(--shadowHower);
}

.activities ul li:hover{
    box-shadow: var(--shadow);
    transform: translateY(-5px);
    background-color: var(--secondaryHower);
}

.activities button:hover{
    background-color:var(--secondaryHover);
}
@keyframes fade{
to{
    opacity: 1;
}
}

.balance, .payment-due, .activities, .summary{
    animation-name: fade;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;

}
.balance{
    animation-delay: 0.2s;
}
.payment-due{
    animation-delay: 0.4s;
}
.activities{
    animation-delay: 0.8s;
}

.summary{
    animation-delay: 1.2s;
}

 